*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Times New Roman";
    background-color: #d25454;
    color: #333;
    line-height: 1.6;
}

.Estudiantes{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.h1{
    text-align: center;
    margin-bottom: 30px;
    color: #4385c7;
}

.tablaEstudiantes{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
    padding: 20px;
    margin-bottom: 20px;
}

.promedioNotas{
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bold;
}

.promedioEstudiantes{
background-color: #91a8c0;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

